{% extends "ox_layout.html" %}
{% block body %}

<div class="w3-light-grey w3-margin-bottom content">
  <h2>Available Tasks</h2>
  <UL>
    <LI> Showing {{ limit }} / {{ total }} tasks</LI>
    <LI> For different limit, run something like:
      <A HREF="{{'%s?limit=10' % url_for('ox_herd.list_tasks') }}">
	{{'%s?limit=10' % url_for('ox_herd.list_tasks') }}
      </A>
      or provide "?start_utc=YYYY-MM-DD" or "?end_utc=YYYY-MM-DD" in URL.
    </LI>
  </UL>
  <TABLE cellpadding="10">
    <TH>Name</TH>
    <TH>ID</TH>
    <TH>Status</TH>
    <TH>Result</TH>
    <TH>Finished at</TH>
    <TH>Runtime</TH>    
    {% for item in tasks|sort(reverse=True, attribute='task_end_utc') %}
    <TR>
      <TD>{{ item.task_name }}</TD>
      <TD>
	<A HREF="{{ url_for('ox_herd.show_task') + '?task_id='+item.task_id}}">
	  {{  item.task_id  }}
	</A>
      </TD>
      <TD>{{ item.task_status }}</TD>
      <TD>{{ item.return_value }}</TD>
      <TD>{{ item.task_end_utc }}</TD>
      <TD>
	{{ item.run_time(round_to=2) }}
      </TD>
      <TD>
	<A HREF="{{ url_for('ox_herd.delete_task_from_db') 
		 + '?task_id='+item.task_id}}">delete</A>
      </TD>
    </TR>
    {% endfor %}
  </TABLE>
</div>

{% endblock %}
